@model TrashCollection.Models.Employee

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Employee Menu</h1>

<div>
    <h4>Welcome @Html.DisplayNameFor(model => model.Name)!</h4>
</div>
<div>
    <a asp-action="Index">Index</a> |
    <a asp-action="Index">Back to List</a>
</div>
